	<body>
		<script type="text/javascript">

		$(document).ready(function() {
			g = NewGrid(<%= @game.width%>,<%= @game.height%> <% if @grid %><%=', ' +  @grid%><% end %>);
			initializeGame();
			
		});
		</script>
		<div id="main">
			<h1>
				Conway's Game of Life
			</h1>
			<div style="clear:both"></div>
			<div id="sidebar">
				<div class="collapsiblesection">
					<h2>
						Settings and Appearance:
					</h2>
					<div class="toggle expanded"></div>
					<div class="group">
							<div>
								Cell Size:<input id="boxsize" value="10"><button onclick="SetBoxSize()">Set Cell Size</button>
							</div>
							<div><input type="checkbox" id="rainbow" name="rainbow" checked="checked" /> Rainbow Cells</div>
					</div>
				</div>	
				<div class="collapsiblesection">
					<h2>
						Grid Data:
					</h2>
					<div class="toggle expanded"></div>
					<div class="group">
						<p>
							<strong>New Blank Grid</strong>
						</p>
						Width: <input id="gridwidth" value="<%= @game.width%>"> Height:<input id="gridheight" value="<%= @game.height%>"> <button id="newgrid">Create New Grid</button>
							<p>
								<strong>To/From String</strong>
							</p>			
							<textarea rows="4" cols="12" id="stringarea"></textarea>
							<button id="stringify">Store Grid As String</button><button id="gridify">Create Grid From String</button>
							<strong>Store on Server</strong>
							<button id="storify">Store Grid on Server</button>
							<div id="storemessage" class="working"></div>
					</div>
				</div>
				<div class="collapsiblesection">
					<h2>
						About:
					</h2>
					<div class="toggle expanded"></div>
					<div id="info" class="group">
						<p>
							"Conway's Game of Life" is a mathematical simulation; think of it as a sort of "Sim Bacteria" where cells live or die based on <a href="http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">certain rules</a>.
						</p>
						<h3>
							Instructions
						</h3>
						<p>
						Click and highlight squares to make them live/dead. You can also drag and drop existing patterns from the menu under the game grid. 
						</p>
						<p>
							Click "Advance" to run one day of reproduction, or "Run Simulation" to auto-advance.
						</p>
					</div>
				</div>

			</div>
			<div id="controls">
				<div>
				<div id="buttonholder">
					<button id="advance">Advance One Day</button>
					<button id="gamecontrol" value="stop">Run Simulation</button>
				</div>
				<div id="slider">
					<div id="slowlabel" class="slidelabel">Slow</div>
					<div id="mediumlabel" class="slidelabel">Medium</div>
					<div id="fastlabel" class="slidelabel">Fast</div>
					<div id="speedcontrol"></div>
				</div>
				</div>
			</div>
			<div id="thegame">
				<div id="tablearea">
				</div>
				<div id="prefabs">
					<button id="blinker" class="prefab" style="position:relative"><img src="/images/blinker.png" width="34px" height="12px" /><div class="button-label" >Blinker</div></button>
					<button id="toad" class="prefab"><img src="/images/toad.png" width="45px" height="22px" /><div class="button-label" >Toad</div></button>
					<button id="beacon" class="prefab"><img src="/images/beacon.png" width="45px" height="45px" /><div class="button-label" >Beacon</div></button>
					<button id="pulsar" class="prefab"><img src="/images/pulsar.png" width="50px" height="50px"/><div class="button-label" >Pulsar</div></button>
					<button id="glider" class="prefab"><img src="/images/glider.png" width="34px" height="34px" /><div class="button-label" >Glider</div></button>
					<button id="lwss" class="prefab"><img src="/images/lwss.png" width="52px" height="41px" /><div class="button-label" >LWSS</div></button>
					<button id="fpentomino" class="prefab"><img src="/images/f-pentomino.png" /><div class="button-label" >F-Pentomino</div></button>
					<button id="diehard" class="prefab"><img src="/images/diehard.png" width="60px" height="20px" /><div class="button-label" >Diehard</div></button>
					<button id="acorn" class="prefab"><img src="/images/acorn.png" width="59px" height="26px"/><div class="button-label" >Acorn</div></button>
				</div>
				
			</div>
			<input type="hidden" id="gamespeed" value="85" />
			<div id="footer"><span id="licenseText"><br />This work by <a href="http://www.squidproco.com">Ian McDowell</a>  is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>. Source at <a  href="https://github.com/igmcdowell/ConwaysGameOfLife" >github.com</a>.

	</span><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" id="license" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a></div>
		</div>
		
	</body>
</html>

